<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
</head>
<body>
   <!--[if lt IE 10]>
      <div
        style="
          position: absolute;
          padding: 20px;
          width: 100%;
          background-color: #4ca5a1;
          color: #fff;
          text-align: center;
          z-index: 999999;
        "
      >
        <span style="font-size: 16px; display: block; margin-bottom: 4px;"
          >您正在使用过时的浏览器</span
        >
        <span style="font-size: 13px; line-height: 21px;"
          >很不幸，您的浏览器有些陈旧，我们并不能很好的支持，请更换一个更现代的浏览器。<a
            href="https://browsehappy.com"
            target="_blank"
            style="
              color: #fff;
              border-bottom: 1px solid #fff;
              text-decoration: none;
            "
            >点我换一个吧</a
          >！</span
        >
      </div>
    <![endif]-->

  <div id="root"></div>
</body>
</html>